<main>
    <header>
        <nav class="nav-bar">
            <div class="container">
                <div class="text-center justify-content-center">
                    <h1 class="fs-1 text-success">EXPENSE TRACKER</h1>
                    <h6 class="fs-4 text-success">Take the suspense out of expenses</h6>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row justify-content-md-center m-5">
            <div class="col-md-auto">
                <div class="card" style="width: 25rem" id="card-op">
                    <div class="card-body d-grid gap-4">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput"
                                placeholder="name@example.com" />
                            <label for="floatingInput">Login</label>
                        </div>
                        <div class="form-floating" id="pass-el">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" />
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="form-floating">
                            <input type="input" class="form-control" id="floatingIncome"
                                placeholder="Monthly Income" />
                            <label for="floatingIncome">Monthly Income</label>
                        </div>
                        <button type="button" class="btn btn-outline-success" id="signup-form">
                            Sign Up
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript/signup.js"></script>
</main>